*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{
    background:#ddd;
}

form{
    width:360px;
    background: #fff;
    margin:200px auto;
    padding:20px;
    text-align:center;
}
form h1{
    margin:20px 0;
}
form input{
    width:100%;
    height:40px;
    margin:8px 0;
    padding-left:10px;
}
form .btn{
    background:crimson;
    border:none;
    cursor:pointer;
    font-size:20px;
    color:#fff;
    margin-top:20px;
}
form .btn:hover{
    background:blueviolet;
}